In [2]:
import pandas as pd

train_data = pd.read_csv('data/train.csv')
submission_data = pd.read_csv("data/sample_submission.csv")
test_data = pd.read_csv("data/test.csv")

print("Training Data: ")
display(train_data)

Training Data:

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,0,L50096,L,300.6,309.6,1596,36.1,140,0,0,0,0,0,0
1,1,M20343,M,302.6,312.1,1759,29.1,200,0,0,0,0,0,0
2,2,L49454,L,299.3,308.5,1805,26.5,25,0,0,0,0,0,0
3,3,L53355,L,301.0,310.9,1524,44.3,197,0,0,0,0,0,0
4,4,M24050,M,298.0,309.0,1641,35.4,34,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136424,136424,M22284,M,300.1,311.4,1530,37.5,210,0,0,0,0,0,0
136425,136425,H38017,H,297.5,308.5,1447,49.1,2,0,0,0,0,0,0
136426,136426,L54690,L,300.5,311.8,1524,38.5,214,0,0,0,0,0,0
136427,136427,L53876,L,301.7,310.9,1447,46.3,42,0,0,0,0,0,0
136428,136428,L47937,L,296.9,308.1,1557,39.3,229,0,0,0,0,0,0

### Training Data

In [3]:
print("Submission Data:" )
display(submission_data)

Submission Data:

           id  Machine failure
0      136429              0.5
1      136430              0.5
2      136431              0.5
3      136432              0.5
4      136433              0.5
...       ...              ...
90949  227378              0.5
90950  227379              0.5
90951  227380              0.5
90952  227381              0.5
90953  227382              0.5

[90954 rows x 2 columns]

### Submission Data

In [4]:
print("Test Data: ")
display(test_data)

Test Data:

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF
0,136429,L50896,L,302.3,311.5,1499,38.0,60,0,0,0,0,0
1,136430,L53866,L,301.7,311.0,1713,28.8,17,0,0,0,0,0
2,136431,L50498,L,301.3,310.4,1525,37.7,96,0,0,0,0,0
3,136432,M21232,M,300.1,309.6,1479,47.6,5,0,0,0,0,0
4,136433,M19751,M,303.4,312.3,1515,41.3,114,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90949,227378,L51130,L,302.3,311.4,1484,40.4,15,0,0,0,0,0
90950,227379,L47783,L,297.9,309.8,1542,33.8,31,0,0,0,0,0
90951,227380,L48097,L,295.6,306.2,1501,41.4,187,0,0,0,0,0
90952,227381,L48969,L,298.1,307.8,1534,40.3,69,0,0,0,0,0
90953,227382,L52525,L,303.5,312.8,1534,36.1,92,0,0,0,0,0

### Test Data

In [6]:
Machine_L = train_data.loc[train_data.Type == "L"]["Machine failure"]
rate_L = sum(Machine_L)/len(Machine_L)
print(rate_L)

0.0167271430668876

### we notice that machines of type L has 1,6% of failure

In [7]:
Machine_M = train_data.loc[train_data.Type == "M"]["Machine failure"]
rate_M = sum(Machine_L)/len(Machine_M)
print(rate_M)

0.049608111470515054

### we notice that machines of type M has 4,9% of failure

In [8]:
Machine_H = train_data.loc[train_data.Type == "H"]["Machine failure"]
rate_H = sum(Machine_H)/len(Machine_H)
print(rate_H)

0.013000112069931638

### we notice that machines of type H has 1,3% of failure

#### the type of the machine wasnt a good guess but still , we clearly see that machines of type M fail the more than the other 2