In [1]:
import pandas as pd
import numpy as np

train_data = pd.read_csv('data/train.csv')
submission_data = pd.read_csv("data/sample_submission.csv")
test_data = pd.read_csv("data/test.csv")

print("Training Data: ")
display(train_data)

Training Data:

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,0,L50096,L,300.6,309.6,1596,36.1,140,0,0,0,0,0,0
1,1,M20343,M,302.6,312.1,1759,29.1,200,0,0,0,0,0,0
2,2,L49454,L,299.3,308.5,1805,26.5,25,0,0,0,0,0,0
3,3,L53355,L,301.0,310.9,1524,44.3,197,0,0,0,0,0,0
4,4,M24050,M,298.0,309.0,1641,35.4,34,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136424,136424,M22284,M,300.1,311.4,1530,37.5,210,0,0,0,0,0,0
136425,136425,H38017,H,297.5,308.5,1447,49.1,2,0,0,0,0,0,0
136426,136426,L54690,L,300.5,311.8,1524,38.5,214,0,0,0,0,0,0
136427,136427,L53876,L,301.7,310.9,1447,46.3,42,0,0,0,0,0,0
136428,136428,L47937,L,296.9,308.1,1557,39.3,229,0,0,0,0,0,0

### Training Data

In [2]:
print("Submission Data:" )
display(submission_data)

Submission Data:

           id  Machine failure
0      136429              0.5
1      136430              0.5
2      136431              0.5
3      136432              0.5
4      136433              0.5
...       ...              ...
90949  227378              0.5
90950  227379              0.5
90951  227380              0.5
90952  227381              0.5
90953  227382              0.5

[90954 rows x 2 columns]

### Submission Data

In [ ]:
print("Test Data: ")
display(test_data)

### Test Data